//scss 全局变量
$base-menu-width: 260px; //左侧菜单宽度
$base-menu-bac: #001529;
$base-meun-logo-img-height: 40px; //左侧菜单logo高度
$base-menu-logo-p-fontsize : 18px;
$base-fold-minwidth : 60px;//菜单折叠最小宽度







$base-tabbar-height: 70px; //顶部导航高度